# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore Android SDK stuff in AppData
/AppData/
**/AppData/

# Ignore build and temp files
build/
dist/
out/

# Ignore common Android-generated resources
*.iml
.gradle/
local.properties
.idea/

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
